@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* Remove the navbar's default margin-bottom and rounded borders */ 

/* sticky footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}


h1 {
    font-family: 'Permanent Marker', cursive !important; 
}

p, h2 {
    font-family: 'Jockey One', sans-serif;
    
}

.navbar {
margin-bottom: 0;
border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
height: 100%;
}

/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 15px;
width: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
height: auto;
padding: 15px;
}
.row.content {height:auto;} 
}


.input, .heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center; 
}



.input1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.pr_records, .card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bodycenter {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  align-content: center !important;
}

.formtype {
  display: flex;
  justify-self: center;
  
}

.challenge {
  border: 1px solid black;
  width: 100%;
  margin: 5px auto;
  display: block;
  padding: 10px !important;

}

.row {

  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
}

















/* [CONTAINER] */
#cal-wrap { max-width: 600px; }

/* [PERIOD SELECTOR] */
#cal-date { display: flex; }
#cal-mth, #cal-yr, #cal-set {
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 0;
    color: #fff;
    }
#cal-mth, #cal-yr { background: #ea4c4c; }
#cal-set { background: #4e83d9; }
/* [CALENDAR] */
#calendar {
  width: 100%;
  border-collapse: collapse;
}
#calendar tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: teal;
  padding: 15px;
  text-align: center;
}
#calendar tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar tr.day td:hover {
  background: #fff9e4;
  cursor: pointer;
}
#calendar tr td.blank {
  background: #f5f5f5;
}
#calendar .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: blue;
}

/* [ADD/EDIT EVENT] */
#cal-event form {
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}
#evt-date {
  color: #999;
  margin: 10px 0;
}
#cal-event textarea {
  display: block;
  box-sizing: padding-box;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  resize: none;
}
#cal-event input[type=button], #cal-event input[type=submit], #cal-event, #submit {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #ea4c4c;
  color: black;
}

/* [DOES NOT MATTER] */
html, body, textarea, input{
  font-family: arial, sans-serif;
}