<!DOCTYPE html>
<html lang="en">
${head}
<body>
    <form action="" method="post">
        <!-- START TIME WO -->
        <div class="container">
            <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <select class="form-control" name="workoutType" id="workoutType">
                        <option selected disabled>Select a Workout Challenge Type</option>
                        <option>Cycling</option>
                        <option>Running</option>
                        <!-- <option>Lifting</option> -->
                    </select>
                </div>
            <!-- START TIME WO -->
            <div class="container">
                <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker'>
                            <input type='text' name="startTime" class="form-control" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- END TIME WO -->
            <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                        <input type='text' name="endTime" class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- CALORIE INPUT -->
        <div>
            <label for="calorie">Calories Burned</label>
            <input type="integer" name="calorie" placeholder="305" id="calorie" required>
        </div>
        <!-- MILES COMPLETED -->
        <div>
            <label for="miles">Miles Completed</label>
            <input type="integer" name="miles" placeholder="5.5"id="miles" required>
        </div>
        <!-- SUBMIT BUTTON -->
        <div>
            <button type="submit" class="btn btn-secondary btn-sm">Submit Workout</button>
        </div>
        </form>
</div>
${footer}
<!-- How we connect front end js with html that we render on the backend -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>