<!DOCTYPE html>
<html lang="en">
${head}
<body>


<div class="container-fluid text-center">
    <h1>Welcome to your profile, ${user.name}</h1>
    <div id="cal-wrap">
    <!-- [PERIOD SELECTOR] -->
    <div id="cal-date">
        <select id="cal-mth"></select>
        <select id="cal-yr"></select>
        <input id="cal-set" type="button" value="SET"/>
    </div>
    
    <!-- [CALENDAR] -->
    <div id="cal-container"></div>
    
    <!-- [EVENT] -->
    <div id="cal-event"></div>
    </div>




<div class="row content">
<div class="col-sm-2 sidenav">
<p>PR'S </p>
</div>
</div>
</div>
    ${footer}
    <!-- How we connect front end js with html that we render on the backend -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="./workouts/workouts_script.js"></script>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

</html>