<!DOCTYPE html>
<html lang="en">
${head}
<body>
    <div class="d-flex justify-content-center align-items-center">
        <div>
            <form method="get" action="/register">
                <button type="submit">Register</button>
            </form>
        </div>
        <div>
            <form method="get" action="/login">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <h1>Welcome To GitFit</h1>
    <h2>The Coders Workout Tracker</h2>
    <p>Have you ever thought to yourself: "I just pushed so much code, I wish I had a workout tracker that tracked my progress and activity like github did...well the GitFit is for you!"</p>
    ${footer}
</body>
</html>