<!DOCTYPE html>
<html lang="en">
<head>
<title>GitFit Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
${head} 
    <h1>Welcome To GitFit</h1>
    <h2>The Coders Workout Tracker</h2>
    <p>Have you ever thought to yourself: "I just pushed so much code, I wish I had a workout tracker that tracked my progress and activity like github did...well the GitFit is for you!"</p>
    ${footer}
    <footer class="text-muted background">
        <div class="container">
            <div class="footer-list">
        </div>
    <div class="footer-list">
        <ul class="list-group list-group-horizontal fontstyle flex-wrap justify-content-center">
            <li class="list-group-item"><a href="https://github.com/alisonlauren">Alison Manning</a></li>
            <li class="list-group-item"><a href="https://github.com/plooney81">Pete Looney</a></li>
            <li class="list-group-item"><a href="https://github.com/JC-2020">Jacky Cheung</a></li>
        </ul>
    </div>
</body>
</html>