<!DOCTYPE html>
<html lang="en">
${head}
<body>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="input">
        <h1 class="display-4">Register Here</h1>
        <p class="lead">We know you can git commit, but can you commit to your workouts?</p>


    
    <form action="" method="post"> 
    <div class="info">
    <div>
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" id="fullName" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
</div>
    <button type="submit">Register</button>
</form> 



</div>
</div>



    ${footer}
</body>
</html>